@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf');
}
@layer base {
  html {
    font-family: 'montserrat';
  }
}